@use "src/scss/color";
@use "src/scss/fontStyle";
@use "src/scss/displaySizes";
@use "src/scss/transition";

.questionItem {
  display: flex;
  flex-direction: column;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 24px;
    @include transition.transitionAll();
  }

  .title {
    @include fontStyle.h5();
    margin-bottom: 16px;
    padding-right: 40px;
    @include transition.transitionAll();
  }

  .text {
    max-height: 0;
    @include fontStyle.textQuestion();
    margin-bottom: 16px;
    overflow: hidden;
  }

  .showQuestion {
    max-height: 100%;
  }

  .line {
    height: 1px;
    background: color.$baltic-sea;
    opacity: 0.2;
  }

  .switcherBtn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: color.$froly;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: 0;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      width: 14px;
      height: 2px;
      background: color.$white;
    }
  }

  .plus {
    &::after {
      content: '';
      position: absolute;
      width: 14px;
      height: 2px;
      background: color.$white;
    }

    &::before {
      content: '';
      width: 2px;
      height: 14px;
      background: color.$white;
    }
  }
}

@media all and (min-width: displaySizes.$TABLE_WIDTH) {
  .questionItem {
    &:not(:last-child) {
      margin-bottom: 32px;
      @include transition.transitionAll();
    }

    .title {
      padding-right: 0;
      @include transition.transitionAll();
    }
  }
}