$hint-of-red: #F7F3F4;
$black: #000000;
$ebony-clay: #222433;
$white: #FFFFFF;
$froly: #F2726C;
$sunset-orange: #dd4411;
$baltic-sea: #1E1A20;
$waxflower: #FFBD9E;
$grey: #807C7C;
$mine-shaft: #333333;