@use "font";
@use "color";
@use "displaySizes";

@mixin h2() {
  @include font.bold();
  font-size: 28px;
  line-height: 42px;
  text-transform: capitalize;
  color: color.$ebony-clay;
}

@mixin h3() {
  @include font.semiBold();
  font-size: 24px;
  line-height: 32px;
  text-transform: capitalize;
  color: color.$ebony-clay;
}

@mixin h4() {
  @include font.bold();
  font-size: 28px;
  line-height: 48px;
  text-transform: uppercase;
  color: color.$mine-shaft;
}

@mixin h5() {
  @include font.semiBold();
  font-size: 18px;
  line-height: 28px;
  color: color.$baltic-sea;
  mix-blend-mode: normal;
  opacity: 0.9;
}

@mixin h6() {
  @include font.bold();
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.3px;
  color: color.$mine-shaft;
  mix-blend-mode: normal;
}

@mixin text() {
  @include font.regular();
  font-size: 15px;
  line-height: 32px;
  color: color.$black;
}

@mixin textQuestion() {
  @include font.regular();
  font-size: 15px;
  line-height: 26px;
  color: color.$baltic-sea;
  mix-blend-mode: normal;
  opacity: 0.9;
}

@mixin textSection() {
  @include font.regular();
  font-size: 15px;
  line-height: 26px;
  color: color.$baltic-sea;
  mix-blend-mode: normal;
  opacity: 0.9;
}

@mixin textInput() {
  @include font.regular();
  font-size: 14px;
  line-height: 24px;
  color: color.$grey;
}

@mixin textFooter() {
  @include font.regular();
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: color.$mine-shaft;
  mix-blend-mode: normal;
}

@mixin h2Desktop() {
  font-size: 40px;
  line-height: 56px;
}

@mixin h3Desktop() {
  font-size: 32px;
  line-height: 56px;
}

@mixin h4Desktop() {
  font-size: 34px;
}

@mixin h5Desktop() {
  font-size: 24px;
  line-height: 34px;
}

@mixin h6Desktop() {
  font-size: 20px;
}

@mixin textDesktop() {
  font-size: 16px;
}

@mixin textQuestionDesktop() {
  font-size: 16px;
  line-height: 24px;
}

@mixin textSectionDesktop() {
  font-size: 18px;
  line-height: 32px;
}

@mixin textFooterDesktop() {
  font-size: 13px;
}